.headline{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.subhead{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 40px;
  text-align: center;
}

.byline{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

h2{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  padding: 5px;
  font-size: 36px;
  color: red;
}
