.headline{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.subhead{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 40px;
  text-align: center;
}

.byline{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

h2{
  font-family: Georgia, "Times New Roman", serif;
  font-weight: bold;
  padding: 5px;
  font-size: 36px;
  color: red;
}

p{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
}

#contributors{
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #4F4E4F;
  padding-top: 30px;
  padding-bottom: 50px;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: red;
}

img{
  max-width:100%;
  height:auto;
}

figcaption {
  color: red;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.pullquote{
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  color: red;
  text-align: center;
  padding: 30px;
  border: 5px black solid;
  margin: 30px;
}

.text-box{
  font-size: 20px;
  border: 5px black solid;
  padding: 20px;
  margin: 30px;
  color: #4F4E4F;
}

.text-box-title{
  font-size: 25px;
  border: 1px red solid;
  text-align: center;
  background-color: red;
  color: white;
}
