.headline{
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 60px;
  font-weight: bold;
  color: #730303;
  text-align: center;
}

.byline{
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #730303;
  text-align: center;
  }

.letter-pull{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #730303;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 25px;
  }

p{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
}

.graphic{
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom:30px;
  padding: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: #730303;
  margin-top: 50px;
}

img{
  max-width: 100%;
}

figure{
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  max-width: 100%;
}

.video{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  max-width: 100%;
}

.map{
  border: 2px solid black;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

.subhead{
  background-color: #730303;
  color: white;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 45px;
}

.pullquote{
  border: 2px solid #730303;
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 30px;
  padding: 30px;
  color: #730303;
  font-weight: bold;
  font-style: italic;
}
