.headline{
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 60px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.byline{
  font-family: Georgia, "Times New Roman", Serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: red;
  text-align: center;
  }

.letter-pull{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: red;
  padding-left: 50px;
  margin-bottom: 25px;
  }

p{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
}

.graphic{
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom:30px;
  padding: 10px;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: red;
  margin-top: 50px;
}

img{
  max-width: 100%;
}

iframe{
  width: 560px;
  height: 315px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
}
